/* overpass-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/overpass-v19-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* overpass-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/overpass-v19-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --orange-500: hsl(25, 97%, 53%);
  --white: hsl(0, 100%, 100%);
  --grey-500: hsl(217, 12%, 63%);
  --grey-900: hsl(213, 19%, 18%);
  --grey-950: hsl(216, 12%, 8%);
  --grey-buttons-and-star-container: hsl(216, 14%, 22%);
  --body-font-paragraph: calc(14 / 16 * 1rem);
  --padding-block: calc(25 / 16 * 1rem);
  --padding-inline: calc(25 / 16 * 1rem);
}

/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: var(--grey-950);
  font-family: "Overpass", sans-serif;
}

.parent-container {
  height: 100%;
  width: clamp(18.75rem, 90vw, 20.625rem);
}

.rating-component {
  position: relative;
  background-color: var(--grey-900);
  height: 22.5rem;
  border-radius: 1.25rem;
  padding-block: var(--padding-block);
  padding-inline: var(--padding-inline);
}

.image-container {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: var(--grey-buttons-and-star-container);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-1 {
  padding-block-start: 1.25rem;
  font-size: 1.5625rem;
  color: var(--white);
}

.paragraph-1 {
  font-size: var(--body-font-paragraph);
  padding-block-start: 0.9375rem;
  line-height: 1.45em;
  color: var(--grey-500);
}

.star {
  height: 0.8125rem;
  width: 0.8125rem;
}

.thank-you-state-component {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--grey-900);
  height: 100%;
  border-radius: 1.25rem;
  opacity: 0;
  pointer-events: none;
}

.rating-selector-holder {
  display: flex;
  padding-block-start: clamp(1.25rem, -1.7857rem + 14.2857vw, 1.5625rem);
  padding-inline-start: 0.1875rem;
  gap: 1.25rem;
}

.rate {
  height: clamp(2.25rem, -0.18rem + 11.43vw, 2.5rem);
  width: clamp(2.25rem, -0.18rem + 11.43vw, 2.5rem);
  background-color: var(--grey-buttons-and-star-container);
  border-radius: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(0.8125rem, 0.205rem + 2.86vw, 0.875rem);
  color: var(--grey-500);
  transition: background-color 0.3s ease;
  font-weight: 700;
}

.rate:hover {
  background-color: var(--orange-500);
  color: var(--grey-950);
  cursor: pointer;
}

.rating-submit-button {
  margin-block-start: 1.5625rem;
  font-size: clamp(0.8rem, -0.657rem + 6.857vw, 0.95rem);
  font-weight: 700;
  width: 100%;
  background-color: var(--orange-500);
  height: clamp(2.25rem, -3.214rem + 25.714vw, 2.8125rem);
  border-radius: 1.6875rem;
  transition: background-color 0.3s ease;
}

.rating-submit-button:hover {
  background-color: white;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */