/* overpass-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/overpass-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* overpass-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/overpass-v19-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root{
  --orange-500: hsl(25, 97%, 53%);
  --white: hsl(0, 100%, 100%);
  --grey-500: hsl(217, 12%, 63%);
  --grey-900: hsl(213, 19%, 18%);
  --grey-950: hsl(216, 12%, 8%);
  --grey-buttons-and-star-container: hsl(216, 14%, 22%);
  --body-font-paragraph: calc(14 / 16 * 1rem);
  --padding-block: calc(25 / 16 * 1rem);
  --padding-inline: calc(25 / 16 * 1rem);
}

/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: var(--grey-950);
  font-family: "Overpass", sans-serif;
}

.parent-container{
  height: 100%;
  width: clamp(calc(300 / 16 * 1rem), 90vw, calc(330 / 16 * 1rem));
}

.rating-component{
  position: relative;
  background-color: var(--grey-900);
  height: calc(360 / 16 * 1rem);
  border-radius: calc(20 / 16 * 1rem);
  padding-block: var(--padding-block);
  padding-inline: var(--padding-inline);
}

.image-container{
  height: calc(40 / 16 * 1rem);
  width: calc(40 / 16 * 1rem);
  border-radius: 50%;
  background-color: var(--grey-buttons-and-star-container);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-1{
  padding-block-start: calc(20 / 16 * 1rem);
  font-size: calc(25 / 16 * 1rem);
  color:var(--white)
}

.paragraph-1{
  font-size: var(--body-font-paragraph);
  padding-block-start: calc(15 / 16 * 1rem);
  line-height: 1.45em;
  color: var(--grey-500)
}

.star{
  height: calc(13 / 16 * 1rem);
  width: calc(13 / 16 * 1rem);
}

.thank-you-state-component{
  position: absolute;
  top: 0;
  width: 100%;
  background-color: var(--grey-900);
  height: 100%;
  border-radius: calc(20 / 16 * 1rem);
  opacity: 0;
}